html, body {
  height: 100%;
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-info {
  border: 2px solid rgba(195, 218, 199, .5);
  height: 80vh;
}