html, body {
  height: 100%;
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-info {
  border: 2px solid black;
  height: 30%;
  width: 90%;
  padding: 20px;
}

.score-card {
  border: 2px solid black;
  width: 20%;
  height: 40%;
}

.student-bio {
  height: 30%;
  width: 80%;
  overflow: scroll;
}