html, body {
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-info {
  border: 2px solid black;
  width: 90%;
  padding: 40px;
  margin: 10px;
  flex-direction: column;
}

.score-card {
  border: 2px solid black;
  width: 20%;
  height: 40%;
  padding: 10px;
  margin: 10px;
  background-color: aliceblue;
}

.student-bio {
  width: 70%;
  padding: 20px;
}

.score-els {
  flex-direction: column;
}
